<div id="side-menu" class="side-menu">
  <ul class ="side-menu__lists">
    <li class = "side-menu__lists__title">
      <span>{{default.sidebar.Main}}</span>
    </li>
    <li class = "side-menu__lists__list{{#is custom_basename 'dashboard'}} active{{/is}}">
      <a href="#">
        <svg class="svg-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#home"></use>
        </svg>
        <span>{{default.sidebar.Main}}</span>
      </a>
    </li>
    <li class = "side-menu__lists__list"><a href="#">
      <svg class="svg-icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#home"></use>
      </svg>
      <span>{{default.sidebar.UI_KIT}}</span>
    </a>
  </li>
  <li class = "side-menu__lists__list">
    <a href="#">
      <svg class="svg-icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#home"></use>
      </svg>
      <span>{{default.sidebar.Typography}}</span>
    </a>
  </li>
  <li class = "side-menu__lists__list">
    <a href="#">
      <svg class="svg-icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#home"></use>
      </svg>
      <span>{{default.sidebar.Components}}</span>
    </a>
  </li>
  <li class = "side-menu__lists__list">
    <a href="#">
      <svg class="svg-icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#home"></use>
      </svg>
      <span>{{default.sidebar.Icons}}</span>
    </a>
  </li>
  <li class = "side-menu__lists__list">
    <a href="#">
      <svg class="svg-icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#home"></use>
      </svg>
      <span>{{default.sidebar.Forms}}</span>
    </a>
  </li>
</ul>
<ul class ="side-menu__lists">
  <li class = "side-menu__lists__title">
    <span>{{default.sidebar.More}}</span>
    </li>
  <li class = "side-menu__lists__list">
    <a href="#">
      <svg class="svg-icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#target"></use>
      </svg>
      <span>{{default.sidebar.Tables}}</span>
    </a>
  </li>
  <li class = "side-menu__lists__list"><a href="#">
    <svg class="svg-icon">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#target"></use>
    </svg>
    <span>{{default.sidebar.Charts}}</span>
  </a>
</li>
<li class = "side-menu__lists__list">
  <a href="#">
    <svg class="svg-icon">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#target"></use>
    </svg>
    <span>{{default.sidebar.Maps}}</span>
  </a>
</li>
<li class = "side-menu__lists__list">
  <a href="#">
    <svg class="svg-icon">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#target"></use>
    </svg>
    <span>{{default.sidebar.Mail}}</span>
  </a>
</li>
</ul>
<ul class ="side-menu__lists">
  <li class = "side-menu__lists__title">
    <span>{{default.sidebar.Extras}}</span>
    </li>
  <li class = "side-menu__lists__list">
    <a href="#">
      <svg class="svg-icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#target"></use>
      </svg>
      <span>{{default.sidebar.Pages}}</span>
    </a>
  </li>
  <li class = "side-menu__lists__list"><a href="#">
    <svg class="svg-icon">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#home"></use>
    </svg>
    <span>{{default.sidebar.Extras}}</span>
  </a>
</li>
<li class = "side-menu__lists__list">
  <a href="#">
    <svg class="svg-icon">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#home"></use>
    </svg>
    <span>{{default.sidebar.Multi_Level}}</span>
  </a>
</li>
<li class = "side-menu__lists__list">
  <a href="#">
    <svg class="svg-icon">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#home"></use>
    </svg>
    <span>{{default.sidebar.Dashboard}}</span>
  </a>
</li>
</ul>
</div>
