<div class="side-menu">
  <ul class ="side-menu__lists">
    <li class = "side-menu__list">{{default.sidebar.Main}}</li>
    <li class = "side-menu__lists__list{{#is custom_basename 'dashboard'}} active{{/is}}">
      <a href="#">
        <svg class="svg-icon">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#home"></use>
        </svg>
        {{default.sidebar.Main}}
      </a>
    </li>
    <li class = "side-menu__lists__list"><a href="#">
      <svg class="svg-icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#home"></use>
      </svg>
      {{default.sidebar.UI_KIT}}
    </a>
  </li>
  <li class = "side-menu__lists__list">
    <a href="#">
      <svg class="svg-icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#home"></use>
      </svg>
      {{default.sidebar.Typography}}
    </a>
  </li>
  <li class = "side-menu__lists__list">
    <a href="#">
      <svg class="svg-icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#home"></use>
      </svg>
      {{default.sidebar.Components}}
    </a>
  </li>
  <li class = "side-menu__lists__list">
    <a href="#">
      <svg class="svg-icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#home"></use>
      </svg>
      {{default.sidebar.Icons}}
    </a>
  </li>
  <li class = "side-menu__lists__list">
    <a href="#">
      <svg class="svg-icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#home"></use>
      </svg>
      {{default.sidebar.Forms}}
    </a>
  </li>
</ul>
<ul class ="side-menu__lists">
  <li class = "side-menu__list">{{default.sidebar.More}}</li>
  <li class = "side-menu__lists__list">
    <a href="#">
      <svg class="svg-icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#home"></use>
      </svg>
      {{default.sidebar.Tables}}
    </a>
  </li>
  <li class = "side-menu__lists__list"><a href="#">
    <svg class="svg-icon">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#home"></use>
    </svg>
    {{default.sidebar.Charts}}
  </a>
</li>
<li class = "side-menu__lists__list">
  <a href="#">
    <svg class="svg-icon">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#home"></use>
    </svg>
    {{default.sidebar.Maps}}
  </a>
</li>
<li class = "side-menu__lists__list">
  <a href="#">
    <svg class="svg-icon">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#home"></use>
    </svg>
    {{default.sidebar.Mail}}
  </a>
</li>
</ul>
<ul class ="side-menu__lists">
  <li class = "side-menu__list">{{default.sidebar.Extras}}</li>
  <li class = "side-menu__lists__list">
    <a href="#">
      <svg class="svg-icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#home"></use>
      </svg>
      {{default.sidebar.Pages}}
    </a>
  </li>
  <li class = "side-menu__lists__list"><a href="#">
    <svg class="svg-icon">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#home"></use>
    </svg>
    {{default.sidebar.Extras}}
  </a>
</li>
<li class = "side-menu__lists__list">
  <a href="#">
    <svg class="svg-icon">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#home"></use>
    </svg>
    {{default.sidebar.Multi_Level}}
  </a>
</li>
<li class = "side-menu__lists__list">
  <a href="#">
    <svg class="svg-icon">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#home"></use>
    </svg>
    {{default.sidebar.Dashboard}}
  </a>
</li>
</ul>
</div>
